*{
    box-sizing: border-box;
}
/* Cabecera */
.cabecera{
background-color:darkolivegreen ;
margin: 0px auto;
overflow-y: auto;

}
.icono{
width: 10%;
display: block;
margin: auto 20px;
height: 90%;
float: left;
}
.cabecera,h1{
    color: white;
    font-weight: bolder ;
}
.cabecera,p{
    color: white;
}
/* Cuerpo */
.cuerpo{
    background-color: darksalmon;
    width: 100%;    
}
/*img cuerpo*/
.imgcuerpo{
    background-image: url(../U2-Html/imagenes/bosquefondo.jpeg);
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;

}

/* Formulario Cuerpo */

.formcuerpo{
    width: 20%;
}
.cabformulario{
    background-color: darkolivegreen;
    padding: auto;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cabformulario h1{
    
}
.cabformulario p{
    margin-bottom: 0px;
    padding: 10px;
}
.formulario{
    margin: 0px;
    background-color: gray;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}
.formulario label{
    padding-left: 20px;
    padding-bottom:  10px;
    
}
.formulario input,select{
    margin-left: 20px;
    margin-bottom: 20px;
}