*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* Cabecera */
.cabecera{
background-color: #334d31;
margin: 0px auto;
display: grid;
grid-template-columns: 15% 85%;
grid-template-rows: 20% 20%;
}
/* Cabecera (Icono) */
.icono{
width: 100%;
margin-left: 30px;
grid-row-start: 1;
grid-row-end: 3;
}
/* Cabecera (Texto) */
.cabecera h1{
    color: white;
    font-weight: bolder ;
    font-size: 2.9rem;
    text-align: center;
    margin-bottom: 0px;
}
.cabecera p{
    color: white;
    text-align: center;
    font-size: 1.4rem;  
    margin-top: 0%;
}
/* Cuerpo */
.cuerpo{
<<<<<<< HEAD
    display:grid ;
    grid-template-columns: 70%;
=======
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
>>>>>>> 6493da4acf168c2d110088104e3b8c0bea2798cb
    background-color:burlywood;
    width: 100%;   
    padding-top: 30px;
    justify-items: center;
<<<<<<< HEAD
}
/*img cuerpo (Conjunto/imagen)*/
.imagenCuerpo {
    width: 65%;
}
.textCuerpoConjunto{
    width: 75%;
    margin-left: 95px;
=======
    align-items: center;
}
/*img cuerpo (Conjunto/imagen)*/
.imagen {
    width: 90%;
    font-size: 1.6rem;
>>>>>>> 6493da4acf168c2d110088104e3b8c0bea2798cb
}
.textCuerpoConjunto{
    width: 70%;
}
/*img cuerpo (Conjunto/texto)*/
.textCuerpoConjunto h2{
    color: black;
    font-size: 1.9rem;
    margin-bottom: 0px;
}
.textCuerpoConjunto p{
    color: black;
    font-style: italic;
    font-size: 1.1rem;
}
/* Formulario Cuerpo */
.formcuerpo{
<<<<<<< HEAD
    width: 85%;
    display: inline-block;
    grid-row:1/3;
    grid-column: 2/3;
    margin-right: 100px;
=======
    width: 35%;
    display: inline-block;
    grid-column: 2/3;
    grid-row: 1/3;
>>>>>>> 6493da4acf168c2d110088104e3b8c0bea2798cb
}
/* Formulario Cuerpo (cabecera Formulario)*/
.cabformulario{
    background-color: #334d31;
   
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cabformulario h1{
    color: white;
    font-weight: bolder ;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
}
.cabformulario p{
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: white;
    
}
/* Formulario Cuerpo (Formulario)*/
form
{padding-top: 20px;
padding-bottom: 20px;
}
.formulario{
    margin: 0px;
    background-color: gray;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}
/* Formulario Cuerpo (Formulario/TextosEInputs)*/
.formulario label{
    padding-left: 20px;
    margin-top: 10px;
    
}
.formulario input,select{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.formulario div{
    padding-left: 20px;
    margin-bottom: 10px;
}

